/// navigation toggle
.menu-toggle {

	@include reset-default-btn;

    flex-shrink:0;

	margin:0;
    padding:0 map-get( $padding, 'sm' );
	width:80px;
	height:auto;
	border:0;
	background:none;
	background-image:$navbar-toggle;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:44px;

	/// when toggle is open
	&.menu-open {

		/// change background svg
		background-size:32px;
		background-image:$close;

	}

	@include media-breakpoint-up( lg ) { display:none; } /// hide toggle on desktop

}