/// widths and heights
$custom-logo-link-size: 200px;
/// z indexes
$site-header-z-index: 99998;
$sub-menu-z-index: 99999;
/// padding
$padding: ();
$padding: map-merge(
    (
        "no":  0,
        "xxs": 4px,
        "xs":  8px,
        "sm":  16px,
        "md":  24px,
        "lg":  32px,
        "lgx": 48px,
        "xl":  64px,
        "xxl": 72px,
    ),
    $padding
);
/// svgs
$navbar-toggle:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMCcgaGVpZ2h0PSczMCcgdmlld0JveD0nMCAwIDMwIDMwJz48cGF0aCBzdHJva2U9JyMwMDAwMDAnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBzdHJva2Utd2lkdGg9JzInIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+");
$chevron:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDcuMiAxMS4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3LjIgMTEuMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPiA8c3R5bGUgdHlwZT0idGV4dC9jc3MiPiAuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6Mjt9IDwvc3R5bGU+IDxwYXRoIGlkPSJQYXRoXzEwMSIgY2xhc3M9InN0MCIgZD0iTTAuNywwLjdsNS4xLDQuOGwtNS4xLDUuMSIvPiA8L3N2Zz4=");
$close:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIxLjUgMjEuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjEuNSAyMS41OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4gLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdpZHRoOjIuNTt9IDwvc3R5bGU+PGcgaWQ9Ikdyb3VwXzEyMyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI2NC4yNjkgLTE4Ljc3MykiPjxsaW5lIGlkPSJMaW5lXzMxIiBjbGFzcz0ic3QwIiB4MT0iMjg0LjciIHkxPSIxOS44IiB4Mj0iMjY1LjMiIHkyPSIzOS4yIi8+PGxpbmUgaWQ9IkxpbmVfMzIiIGNsYXNzPSJzdDAiIHgxPSIyODQuNyIgeTE9IjM5LjIiIHgyPSIyNjUuMyIgeTI9IjE5LjgiLz48L2c+PC9zdmc+");
$search:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIwLjkgMjIuMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAuOSAyMi4zOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4gLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMjY3YjA7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO30gPC9zdHlsZT48ZyBpZD0iR3JvdXBfMTI0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTI4MCAtNykiPjxnIGlkPSJFbGxpcHNlXzEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyODAgNykiPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjguMSIgY3k9IjguMiIgcj0iNi4yIi8+PC9nPjxsaW5lIGlkPSJMaW5lXzEwIiBjbGFzcz0ic3QwIiB4MT0iMTI5MiIgeTE9IjIwLjQiIHgyPSIxMjk4LjYiIHkyPSIyNyIvPjwvZz48L3N2Zz4=");